<h1>NOTES list</h1>
<table>
    <tr>
      <th>Titte</th>
      <th>User</th>
    </tr>
  <% @notes.each do |note| %>
    
    <tr>
      <td><%= link_to note.title, note %></td>
      <td> <%= note.user.email%></td>
      <%if note.user.email==current_user.email %>
      <td><%= link_to "Edit", edit_note_path(note) %></td>
      <td><%= link_to "Destroy", note_path(note),
      method: :delete,
      data: { confirm: "Are you sure?" } %></td>
      <%end%>
    </tr>
  <% end %>
</table>
<table>
  
<br>
<%= link_to "New Note", new_note_path %>